*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BlackSansRegular';
  }

@font-face {
  font-family: 'BlackSansSemiBold';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksanssemiboldwebfont647663a8d54cb4e2551213de87a56073.woff);
}

@font-face {
  font-family: 'BlackSansThin';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksansthinwebfont.woff);
}

@font-face {
  font-family: 'BlackSansLight';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksanslightwebfont.woff);
}

@font-face {
  font-family: 'BlackSansRegular';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksansregularwebfontd6761cbf250866e8870d97f03fa629a8.woff);
}

@font-face {
  font-family: 'BlackSansBlack';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksansblackwebfont.woff);
}

@font-face {
  font-family: 'BlackSansBold';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksansboldwebfont949ef363c646d9c2456af9d67a94778f.woff);
}

@font-face {
  font-family: 'BlackSansCondensedMedium';
  src: url(/Users/robertokharedia/Desktop/bizedgeProjects/mgmt_app/src/fonts/blacksanscondensedmediumwebfont.woff);
}

